@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');
#navbar
{
	position: relative;
	width: 100vw;
	height: 10vh;
}
#homepageh2
{
	position: absolute;
	top: 50%;
    margin-bottom: -50%;
    transform: translate(0%, -50%);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 180%;
	left: 4%;
	color: #4cbfa6;
}
#info
{
	position: absolute;
	width: 65vw;
	height: 80vh;
	left: 4vw;
	top: 12vh;
}
#intro
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	color: #482673;
	font-size: 6vw;
	width: 100%;
}
#answer
{
	position: absolute;
	font-family: 'Lato', sans-serif;
	color: #482673;
	width: 80%;
	top: 45%;
	font-size: 2vw;
}
#signupnow
{
	top: 78%;
	width: 8vw !important;
}
#image
{
	position: absolute;
	display: block;
	width: 35vw;
	height: 60vh;
	top: 18vh;
	right: 4vw;
}
.button
{
	letter-spacing: 0.075em;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1em;
	border: solid;
	background-color: white;
	color: #482673;
	border-color: #4cbfa6;
	width: 5vw;
	height: 5vh;
	position: absolute;
	top: 50%;
    margin-bottom: -50%;
    transform: translate(0%, -50%);

}
.button:hover
{
	background-color: #4cbfa6 !important;
	border-color: #482673;
}
.button1
{
	right: 20%;
}
.button2
{
	right: 4%;
}
.button3
{
	right: 12%;
}